In [ ]:
Q1:
#Assumptions:
#    H0 : There is no significance difference between two units
#    H1: There is some significance difference between the diameters of both units
#    hence, here we can apply two sample z test

In [2]:

import pandas as pd
df = pd.read_csv("C:/Users/ASUS/OneDrive/Documents/data science/DS Assignments/ass3 hypo testing/Cutlets.csv")
df
from scipy import stats
zcal,pval = stats.ttest_ind(df["Unit A"],df["Unit B"])
print("zcal value is", zcal.round(2))
print("pcal value is", pval.round(2))

if pval>0.05:
    print("h0 is accepted and h1 is rejected")
else:
    print("Ho is rejected, h1 is accepted")

zcal value is 0.72
pcal value is 0.47
h0 is accepted and h1 is rejected

In [ ]:
"""Therefore, there is no significance differnce between Unit A and Unit B"""

In [ ]:
Q2: 
    Assupmtions:
        HO : there is no significance difference between the avg turn around time of reports
        H1:   there is some significance difference between the avg turn around time of reports
Therefore, We can use ANOVA test

In [3]:

import pandas as pd
df = pd.read_csv("C:/Users/ASUS/OneDrive/Documents/data science/DS Assignments/ass3 hypo testing/labTAT.csv")
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [7]:
from scipy import stats
fvalue, pvalue = stats.f_oneway(df['Laboratory 1'], df['Laboratory 2'], df['Laboratory 3'], df['Laboratory 4'])
print(fvalue, pvalue)

118.70421654401437 2.1156708949992414e-57

In [8]:

if pvalue>0.05:
    print("h0 is accepted and h1 is rejected")
else:
    print("Ho is rejected, h1 is accepted")

Ho is rejected, h1 is accepted

In [ ]:
From the above code, we can conclude that, there is some significance difference between the avg turn around time of these laboratories.

In [ ]:
Q3:
    Assumptions:
        H0: all proportions are equal
        H1: all proportions are not equal
    
by Applying chi2_test of independence

In [10]:
import pandas as pd
df = pd.read_csv("C:/Users/ASUS/OneDrive/Documents/data science/DS Assignments/ass3 hypo testing/BuyerRatio.csv")
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [13]:
import numpy as np
from scipy.stats import chi2_contingency
data = np.array([[50,142,131,70],
         [435,1523,1356,750]])
chi2_contingency(data)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [21]:
critical_value = stats.chi2.ppf(0.95,3)
critical_value

7.814727903251179

In [20]:
pvalue = 0.660
if pvalue> 0.05:
    print("h0 is accepted and h1 is rejected")
else:
    print("Ho is rejected, h1 is accepted")

h0 is accepted and h1 is rejected

In [ ]:
From the above code ,we can conclude that all proportions are equal.

In [ ]:
Q4:
    Assumptions:
        H0: The defective % doesnot varies by center
        H1: The defective % varies by center
    
by Applying chi2_test of independence

In [22]:
import pandas as pd
df = pd.read_csv("C:/Users/ASUS/OneDrive/Documents/data science/DS Assignments/ass3 hypo testing/Costomer+OrderForm.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [25]:
df["Phillippines"].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [26]:
df["Indonesia"].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [27]:
df["Malta"].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [28]:
df["India"].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [35]:
data = np.array([[271,267,269,280],
                [29,33,31,20]])

In [36]:
from scipy.stats import chi2_contingency
chi2_contingency(data)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [37]:
pvalue = 0.277
if pvalue> 0.05:
    print("h0 is accepted and h1 is rejected")
else:
    print("Ho is rejected, h1 is accepted")

h0 is accepted and h1 is rejected

In [ ]:
From the above we can conclude that the defective % does not varies by center.